@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: 'Caveat', cursive;
  color: #333;
}
/* ------------------------------------------------------------------------(NavBar styling)------------------------------------------------------------------------------------------*/
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  font-size: 20px;
}
.navbar h1 {
  color: #eb3b6777;
  font-size: 40px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #eb3b6777;
}
/* ------------------------------------------------------------------------(Styling for the entire Page )------------------------------------------------------------------------------------------*/
.home {
  font-size: 45px;
  text-align: center;
}
/* ------------------------------------------------------------------------(Button styling)------------------------------------------------------------------------------------------*/
button {
  background-color: #eb3b6777;
  border-radius: 25px;
  /* width: 200px; */
  justify-content: space-between;
  padding: 10px;
  margin-right: 5px;
  font-size: 15px;
  box-shadow: 2px 2px 5px #888888;

}

button:hover {
  transform: scale(1.1);
}
/* ------------------------------------------------------------------------(Styling for the Home at the root App.js)------------------------------------------------------------------------------------------*/
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px
}
/* ------------------------------------------------------------------------(Blog data styling)------------------------------------------------------------------------------------------*/
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid black;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px black;
}

.blog-preview h1 {
  font-size:  20px;
  color: #333;
  margin-bottom: 8px;
}

p {
  color: lightgrey;
  font-size: 25px;
}

h2 {
  color: #eb3b6777;
}